
html {
    --background-color: #f4f4f4;
    --font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    height: 100%;
}

body {
    background-color: var(--background-color);
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

.input {
    box-shadow: none;
    font-family: inherit;
    font-weight: 400;

    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;

}

.input::placeholder {
    color: rgb(203,205,211);
}

.input:focus {
    outline: none;
    border-color: #409eff;
    box-shadow: none;
 }

.input.is-danger:focus {
    box-shadow: none;
}

.button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    height: auto;
}

.button > span {
    font-size: 14px;
    line-height: 14px;
    font-weight: inherit;
}

.button.is-rounded {
    border-radius: 20px;
    padding: 12px 23px;
}

.button:focus,
.button:focus:not(:active){
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}